<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
      <h1>EQUINOX</h1>
  </a>  
</nav>




<div [hidden]="user">
    <h1>Sign In with Your Phone Number</h1>
  
    <label>Phone Number</label><br>
   <label>+91</label>
    <input type="text" [(ngModel)]="phoneNumber.area"     class="input" placeholder="" type="number"  
    maxlength="10" (blur)="IsNumberValid()">
    <div  *ngIf="!(IsValidNumber||phoneNumber.area=='')" >Valid phone number required</div>
    <div id="recaptcha-container"></div>
  
    <button (click)="sendLoginCode()">SMS Text Login Code</button>
  
    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Enter your Verification Code Here</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode">
      <label>{{errorMsg}}</label> 
      <div>
        <button (click)="verifyLoginCode()">Verify</button>
      </div>     
    </div> 
  </div>  
  
