<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" >
      <h1>EQUINOX</h1>
  </a>  
</nav>
<div class="row">
<div  class="col">

    <div class="text-right">
        <button  class="btn btn-light" (click)="gotoDashboard()">Back</button>
      </div>  

</div>

</div>




<div  class="myownsection"[hidden]="user">

    <h2>Sign In with Your Phone Number</h2>
    <br>
    <h3>Phone Number</h3>
    
      <div  class="row">
        <div class="input-group mb-3 col-md-11">
            <div class="input-group-prepend">
              <span class="input-group-text">+91</span>
            </div>           
            <input type="number" [(ngModel)]="phoneNumber.area"    class="input form-control" placeholder="" type="number"  
            maxlength="10" (blur)="IsNumberValid()">
            <br>
           
          </div>
          <div  *ngIf="!(IsValidNumber||phoneNumber.area=='')" >Valid phone number required</div>
        </div>
   
    <div id="recaptcha-container"></div>
  
    <button type="button" class="btn btn-light text-center" (click)="sendLoginCode()">Send Login Code</button>
  <br>
  <hr>
  <br>
    <div  *ngIf="windowRef.confirmationResult">
        <div >
          <h4 >Enter Verification Code</h4>
        </div>  
        <div class="text-center">
            <input type="number" [(ngModel)]="verificationCode">
            <label>{{errorMsg}}</label> 
        </div>         
       <br>
        <div class="text-center">
            <button  class="btn btn-light" (click)="verifyLoginCode()">Verify</button>
          </div>  
      </div>

   
  
