
 
 
 
 <div *ngIf="groupedItems.length > 0">
 <div class="c_wrap "  *ngFor="let group of groupedItems;">
  <div class="row myrow py-4 "    >
    <div class="overlay"></div>
    <div class="col-2"> <img src="../../assets/images/newseleted.png"></div>
    <div class="col-8 mymiddlecol">
      <div class="itemTxt">
        <h2>{{group.name}}</h2>
        <p>Meals, Healthy Food, Pulav</p>
      </div>
    </div>
    <div class="col-2 mylastcol">
      <div class="mytopRight ml-auto">
        <p class="myrating text-right mt-auto mb-auto"><span><img src="../../assets/images/mystar.gif" width="25"></span> 4.5</p>
      </div>
    </div>
  </div>
    <div class="itemList py-4">
    <ul>
      <li class="py-3">
        <div class="row"  *ngFor="let cartItem of group.items">
           <div class="col-3"><span class="itemName">{{cartItem.item.itemName}}</span></div>
          <div class="col-7 mymiddlecol">
            <div class="number-input">
              <button (click)="removeFromCart(cartItem.item)"></button>
              <input class="quantity" min="0" name="quantity" value="{{cartItem.count}}" type="number">
              <button (click)="addToCart(cartItem.item)" class="plus"></button>
            </div>
          </div> 
          <div class="col-2 mylastcol"><span class="itemPrice text-center mt-auto">{{cartItem.item.itemPrice*cartItem.count | currency: 'INR'}}</span></div>
         
        
        </div> 
      </li>
      
    </ul>
  </div>  

  <div class="detailsWrap pt-3">
    <div class="hd py-3">Bill Details</div>

    <div class="hdTotal "><span>Items Total</span> <span class="line"></span><span
        class="itemPrice text-center mt-auto">{{group.total | currency: 'INR'}}</span></div>
  </div>

  <div class="d_time my-3">
    <div class="row d-flex">
      <span class="">Estimated delivery time </span>

      <span>25mins</span>
    </div>
  </div>

</div> 

<div class="row">
  <div class="col-6">
    <div  class="btn btn-primary itemTotal" data-toggle="modal" data-target="#exampleModal">
      Checkout
    </div>
  </div>
  <div class="col-6">
    <div  class="btn btn-primary itemTotal" (click)="goToShopping()">
      Continue Shopping
    </div>
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Select Payment</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-check" *ngIf="showPayment">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Cash"  [ngModel]="paymentMode">
                <label class="form-check-label" for="exampleRadios1">
                  Pay By Cash
                </label>
              </div>  
              <div class="thank-you-pop"  *ngIf="!showPayment">
                  <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                  <h1>Thank You!</h1>
                  <p>Your Order  has been Placed</p>
                  <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->
                  
                 </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  id="ignismyModalClose" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"   (click)="placeOrder()"> Place Order </button>
        </div>
      </div>
    </div>
  </div>
</div> 










