<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <h1>EQUINOX</h1>
    </a>
    <div class="navbar-nav flex-row ml-auto">
        <ul class="navbar-nav">
            <div class="dropdown text-center">
                <a class="text-center text-white" href="#" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/images/user-icon.png" text-align="middle" alt="user images" class="user-img">
                    <br>
                    <h5>Account</h5>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#" (click)= "logout()">Log Out</a>
                </div>
            </div>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
          <div class="card-deck mycard-deck">
            <div class="card bg-white p-2" >
              <span  class="text-black-50" (click)="cafeteriaClick()">
                <img class="card-img-top rounded" src="../../assets/images/sec-img1.png" alt="Cafeteria">
                <div class="card-body">
                  <h4 class="card-title text-center">Cafeteria</h4>
                </div>
              </span>
            </div>
            <div class="card bg-white p-2">
              <span  class="text-black-50"  disabled="disabled">
                <img class="card-img-top rounded" src="../../assets/images/sec-img2.png" alt="Health Bar">
                <div class="card-body">
                  <h4 class="card-title text-center">Health Bar</h4>
                </div>
              </span>
            </div>
            <div class="card bg-white p-2">
              <a href="#" class="text-black-50" disabled="disabled">
                <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="Cafeteria">
                <div class="card-body">
                  <h4 class="card-title text-center">Cab Services</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="card-deck mycard-deck">
            <div class="card bg-white p-2">
              <a href="#" class="text-black-50" disabled="disabled">
                <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="starbucks">
                <div class="card-body">
                  <h4 class="card-title text-center">Starbucks</h4>
                </div>
              </a>
            </div>
            <div class="card bg-white p-2">
              <a href="#" class="text-black-50" disabled="disabled">
                <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="cultfit">
                <div class="card-body">
                  <h4 class="card-title text-center">Cult Fit</h4>
                </div>
              </a>
            </div>
           
          </div>
         
        </div>
      </div>


</div>