<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card-deck mycard-deck">
        <div class="card bg-white p-2">
          <span class="text-black-50" (click)="cafeteriaClick()">
            <img class="card-img-top rounded" src="../../assets/images/sec-img1.png" alt="Cafeteria">
            <div class="card-body">
              <h4 class="card-title text-center">Cafeteria</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2 disabled-menu">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img2.png" alt="Health Bar">
            <div class="card-body">
              <h4 class="card-title text-center">Health Bar</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2 disabled-menu">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/img05.png" alt="Cafeteria">
            <div class="card-body">
              <h4 class="card-title text-center">Cab Services</h4>
            </div>
          </span>
        </div>
      </div>
      <div class="card-deck mycard-deck disabled-menu">
        <div class="card bg-white p-2">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="starbucks">
            <div class="card-body">
              <h4 class="card-title text-center">Starbucks</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2 disabled-menu">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/cult.png" alt="cultfit">
            <div class="card-body">
              <h4 class="card-title text-center">Cult Fit</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2 disabled-menu">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/img01.png" alt="cultfit">
            <div class="card-body">
              <h4 class="card-title text-center">Other</h4>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>