<div class="container-fluid">
  <header translucent *ngIf="isInItems() || isInVendors()">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button (click)="customBackButtonClick()"><span name="arrow-round-back"></span></button>
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search"
            placeholder="{{searchPlaceholder}}" [(ngModel)]="searchKey" (input)="filterItems($event)">
        </div>
      </div>
    </div>
  </header>













  <div class="content">

    <div class="row" *ngIf="isInVendors()">
      <div class="col-12">
        <ul class="list-unstyled mt-4 mb-4 list-menu">
          <li class="media my-3" *ngFor="let v of vendors;">

            <span><img class="rounded" src="../../assets/images/sec-img1.png" alt="Food Paradise"></span>
            <div class="media-body" (click)="selectVendor(v)">
              <h1 class="list-heading"><span><strong>{{v.fullName}}</strong></span></h1>
              <h2 class="list-sub-head">{{v.building}}</h2>
              <h3 class="text-center rating"><span class="float-left">
                  <i class="fa fa-star"></i> 4.3</span><span>23
                  mins</span></h3>
            </div>

          </li>
        </ul>
      </div>
    </div>

    <div class="topSection  " *ngIf="isInServices()">
      <div class="topLeft mr-auto">
        <h2>Srushti Veg Restaurant</h2>
        <p>Meals, Healthy Food, Pulav</p>
      </div>
      <div class="topRight ml-auto">
        <p class="myrating text-center"><span><img src="images/mystar.gif" width="25"></span> 4.5</p>
        <p class="mtype">Pure Veg</p>
      </div>
    </div>



    <div class="row">
      <div class="itemsection col-sm-6"  *ngFor="let item of items">
        <div class="itemWrap">
          <div class="img-wrap"><img src="{{getFullImagePath(item)}}"></div>
          <span class="itemName">{{item.itemName}}</span>
          <div class="itemBottom"><span class="itemPrice mr-auto mt-auto">&#x20B9; {{item.itemPrice | currency: 'INR'}}</span>
            
            <span class="itemAdd ml-auto mt-auto"   *ngIf="!isInCart(item)" (click)="addToCart(item)">Add</span>

            <div class="number-input">
                <button (click)="removeFromCart(item)"></button>
                <input class="quantity" min="0" name="quantity" value="{{item.cartCount}}" type="number">
                <button (click)="addToCart(item)" class="plus"></button>
              </div>
            
            </div>
        </div>
      </div>
      
    </div>
  



  

 
     



  <div class="row" *ngIf="isInServices()">
    <div class="col-12">
      <div class="card-deck mycard-deck">
        <div class="card bg-white p-2">
          <span class="text-black-50" (click)="cafeteriaClick()">
            <img class="card-img-top rounded" src="../../assets/images/sec-img1.png" alt="Cafeteria">
            <div class="card-body">
              <h4 class="card-title text-center">Cafeteria</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2">
          <span class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img2.png" alt="Health Bar">
            <div class="card-body">
              <h4 class="card-title text-center">Health Bar</h4>
            </div>
          </span>
        </div>
        <div class="card bg-white p-2">
          <a href="#" class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="Cafeteria">
            <div class="card-body">
              <h4 class="card-title text-center">Cab Services</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mycard-deck">
        <div class="card bg-white p-2">
          <a href="#" class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="starbucks">
            <div class="card-body">
              <h4 class="card-title text-center">Starbucks</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white p-2">
          <a href="#" class="text-black-50" disabled="disabled">
            <img class="card-img-top rounded" src="../../assets/images/sec-img3.png" alt="cultfit">
            <div class="card-body">
              <h4 class="card-title text-center">Cult Fit</h4>
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>
